{% extends 'base.html' %}

{% block pagetitle %}
    {% firstof article.title "Unknown" %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block header %}
  <h1> {{ article.title }} </h1>
{% endblock %}

{% block content %}
  <article>
    <div class="col-lg-5">
      <img src={{ article.image }} alt={{ article.title }} class="img-responsive img-rounded">
    </div>
    <p> {{ article.body }} </p>
  </article>
{% endblock %}
