{% extends 'base.html' %}

{% block pagetitle %}
    {% firstof current.title "Unknown" %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block header %}
  {% if current %}
    <h1> {{ current.title }} </h1>
    b-b-b-breaking NEWS!
  {% endif %}
{% endblock %}

{% block content %}
  {% if article_list %}
    {% for article in article_list %}
      <article class='col-lg-3'>
        <div>
          <img src={{ article.image }} alt={{ article.title }} class="img-responsive img-rounded">
        </div>
        <a href="/articles/{{ article.slug }}">
          <h4> {{ article.title }} </h4>
        </a>
        <span class="text-muted"> {{ article.timestamp }} </span>
        <p> {{ article.body | truncatewords:20 }} </p>
      </article>
    {% endfor %}
  {% else %}
    <section class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h4> There is no articles for choosen country </h4>
          <p class="text-muted">
            We're sorry for the inconvenience
          </p>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
