<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> Newsfeed - {% block pagetitle %}{% endblock %} </title>
  <meta name="description" content="news newsfeed" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/static/bootswatch/readable/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css" type="text/css" />
  <!--[if lt IE 9]>
    <script src="js/ie/respond.min.js" cache="false"></script>
    <script src="js/ie/html5.js" cache="false"></script>
    <script src="js/ie/fix.js" cache="false"></script>
  <![endif]-->
</head>
<body>
  <header id="top" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/.."> Newsfeed </a>
      </div>
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if country_list %}
            <li class="dropdown">
              <a id="countries" class="dropdown-toggle" href="#" data-toggle="dropdown">
                Countries
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="countries">
              {% for country in country_list %}
                <li> 
                  <a href='/?country={{country.shorten}}'> {{country.title}} </a> 
                </li>
              {% endfor %}
            </li>
          {% endif %}
          {% block nav %}{% endblock %}
        </ul>
      </nav>
    </div>
  </header>
  
  <section class="container">
    <header class="page-header">
      <div class="row">
        <div class="col-lg-12">
          {% block header %}{% endblock %} 
        </div>
      </div>
    </header>
    <section>
      {% block content %}{% endblock %}
    </section>
  </section>
  <script src="/static/jquery/dist/jquery.min.js"></script>
  <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
